.header {
  background-color: #808080;
  padding: 50px 0 179px;
  position: relative;
  background-image: url("../../dist/img/header-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .header {
    background-image: url("../../dist/img/header-background@2x.webp");
  }
}
@media (max-width: 1110px) {
  .header {
    padding: 50px 0 363px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 800px;
    padding: 0px;
  }
}
@media (max-width: 576px) {
  .header {
    height: 600px;
  }
}
.header .header__open-nav {
  display: none;
}
@media (max-width: 768px) {
  .header .header__open-nav {
    display: block;
    padding: 0;
    border: none;
  }
}
@media (max-width: 768px) {
  .header .header__open-nav .header__open-nav-icon {
    height: 20px;
    width: 26px;
    display: block;
    position: absolute;
    background: none;
    border: none;
    fill: #FFFFFF;
    margin: 5% 0 0 8%;
  }
}
@media (max-width: 576px) {
  .header .header__open-nav .header__open-nav-icon {
    display: block;
    position: absolute;
    background: none;
    border: none;
    fill: #FFFFFF;
    margin: 60px 0 0 10px;
  }
}
.header .header__close-nav {
  display: none;
  padding: 0;
  border: none;
}
@media (max-width: 768px) {
  .header .header__close-nav {
    display: block;
  }
}
@media (max-width: 768px) {
  .header .header__close-nav .header__close-nav-icon {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    background: none;
    border: none;
    fill: #FFFFFF;
    margin: 38px 38px 0 246px;
  }
}
.header .header__nav-wrp {
  margin: 0 0 219px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .header .header__nav-wrp {
    flex-direction: column;
    margin: 0 0 260px;
  }
}
@media (max-width: 768px) {
  .header .header__nav-wrp {
    display: none;
  }
  .header .header__nav-wrp--open {
    display: block;
    background-color: #333333;
    position: absolute;
    height: 100%;
    width: 300px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
}
@media (max-width: 576px) {
  .header .header__nav-wrp {
    display: none;
  }
}
.header .header__nav {
  width: 83%;
}
@media (max-width: 1110px) {
  .header .header__nav {
    width: initial;
  }
}
.header .header__nav-list {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}
@media (max-width: 1110px) {
  .header .header__nav-list {
    margin: 0 0 29px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .header .header__nav-list {
    display: block;
    min-height: 305px;
    min-width: 214px;
    flex-direction: column;
    padding: 140px 40px 45px;
    margin: 0px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
  }
}
@media (max-width: 1110px) {
  .header .header__nav-item:nth-of-type(n+2) {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .header .header__nav-item:nth-of-type(n+2):nth-of-type(n+2) {
    margin-top: 35px;
  }
}
.header .header__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .header .header__content {
    justify-content: center;
  }
}
.header .header__content .header__content-wrp {
  align-content: center;
  width: 48.6%;
}
@media (max-width: 1110px) {
  .header .header__content .header__content-wrp {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .header .header__content .header__content-wrp {
    padding: 260px 0 0;
  }
}
@media (max-width: 576px) {
  .header .header__content .header__content-wrp {
    margin: 33.3% 0 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header .header__content .header__content-wrp .header__title {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 0 0 50px;
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .header .header__content .header__content-wrp .header__title {
    text-align: center;
  }
}
.header .header__content .header__slider {
  width: 33.3%;
}
@media (max-width: 1110px) {
  .header .header__content .header__slider {
    display: none;
  }
}
.header .header__content .header__slider .header__slider-wrp {
  display: flex;
  justify-content: space-between;
}
.header .header__content .header__slider .header__slider-wrp .header__arrow {
  width: 29.4%;
  display: flex;
  justify-content: space-between;
}
.header .header__content .header__slider .header__slider-wrp .header__arrow-icon {
  width: 36.6%;
  height: 30px;
}
.header .header__content .header__slider .header__slider-wrp .header__btn {
  color: #FFFFFF;
  text-transform: uppercase;
  background: none;
  border: none;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.15em;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}
.header .header__tel {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header .header__tel {
    margin-left: 40px;
    padding-bottom: 6px;
    border-bottom: 2px solid #D1A954;
  }
}
.header .header__desc {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 50px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.header .header__slider-img {
  width: 100%;
  margin: 0 0 36px;
}

.about {
  padding: 150px 0 0;
}
@media (max-width: 768px) {
  .about {
    padding: 100px 0 0;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 80px 0 0;
  }
}
.about .about__title {
  margin: 0 0 110px;
}
@media (max-width: 768px) {
  .about .about__title {
    margin: 0 0 90px;
  }
}
@media (max-width: 576px) {
  .about .about__title {
    margin: 0 0 60px;
  }
}
.about .about__wrp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .about .about__wrp {
    flex-direction: column;
    align-items: center;
  }
}
.about .about__item-content {
  width: 40.5%;
}
@media (max-width: 1110px) {
  .about .about__item-content {
    width: 64%;
  }
}
@media (max-width: 576px) {
  .about .about__item-content {
    text-align: center;
    width: initial;
  }
}
.about .about__item-digits {
  width: 23.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .about .about__item-digits {
    width: 31.7%;
  }
}
@media (max-width: 576px) {
  .about .about__item-digits {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.about .about__item-digits .about__digits .digits__item-about1 {
  width: 70px;
  height: 70px;
  margin-bottom: 5%;
}
.about .about__item-digits .about__digits .digits__desc--1600 {
  margin-bottom: 15%;
}
.about .about__item-digits .about__digits .digits__item-about2 {
  width: 70px;
  height: 64px;
  margin-bottom: 5%;
}
@media (max-width: 576px) {
  .about .about__item-digits .about__digits {
    display: flex;
    justify-content: space-around;
  }
}
.about .about__img {
  width: 33.2%;
  height: 323px;
  object-fit: cover;
}
@media (max-width: 1110px) {
  .about .about__img {
    display: none;
  }
}
.about .about__subtitle {
  margin: 0 0 18px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
}
@media (max-width: 1110px) {
  .about .about__subtitle {
    margin: 0 0 55px;
  }
}
@media (max-width: 768px) {
  .about .about__subtitle {
    margin: 0 0 40px;
  }
}
.about .about__subtitle--digits {
  margin: 0 0 10%;
}
.about .about__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .about .about__desc {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .about .about__desc {
    margin-bottom: 50px;
  }
}

.partners {
  padding: 150px 0 0;
}
@media (max-width: 1110px) {
  .partners {
    padding: 200px 0 0;
  }
}
@media (max-width: 768px) {
  .partners {
    padding: 50px 0 0;
  }
}
@media (max-width: 576px) {
  .partners {
    padding: 30px 0 0;
  }
}
.partners .partners__list {
  margin: 60px 0 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .partners .partners__list {
    flex-wrap: wrap;
    width: 478px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 576px) {
  .partners .partners__list {
    display: block;
    text-align: center;
    width: initial;
  }
  .partners .partners__list .partners__item:nth-of-type(n+1) {
    margin-bottom: 25px;
  }
  .partners .partners__list .partners__item:nth-of-type(4n) {
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .partners .partners__list .partners__item {
    margin: 0px;
  }
  .partners .partners__list .partners__item img {
    width: 69%;
  }
}
.partners .partners__list .partners__item .partners__item:nth-of-type(n+2) {
  margin-left: 78px;
}
.partners .partners__list .partners__item .partners__item:nth-of-type(3n) {
  margin-left: 0px;
}
.partners .partners__btn-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .partners__btn {
  margin: 113px 0 0;
  background: #D1A954;
  text-transform: uppercase;
  width: 359px;
  min-height: 72px;
  font-family: "Open Sans Condensed", sans-serif;
  color: inherit;
  border: none;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .partners .partners__btn {
    width: 326px;
    min-height: 45px;
  }
}
@media (max-width: 576px) {
  .partners .partners__btn {
    margin: 87px 0 0 0;
  }
}

.footer {
  padding: 112px 0 41px 0;
}
@media (max-width: 1110px) {
  .footer {
    padding: 62px 0 49px 0;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 45px 0 66px 0;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 70px 0 76px 0;
  }
}
.footer .footer__title {
  margin: 0 0 50px;
}
.footer .footer__contacts-wrp {
  display: flex;
  justify-content: space-between;
}
.footer .footer__contacts-wrp .footer__contacts-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .footer .footer__contacts-wrp .footer__contacts-list {
    flex-direction: column;
  }
}
.footer .footer__contacts-wrp .footer__contacts-list .footer__contacts-item {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
}
@media (max-width: 1110px) {
  .footer .footer__contacts-wrp .footer__contacts-list .footer__contacts-item {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }
}
.footer .footer__contacts-wrp .footer__contacts-list .footer__contacts-item .footer__contacts-item-desc {
  font-style: normal;
  text-align: end;
}
.footer .footer__contacts-wrp .footer__contacts-list--left {
  width: 495px;
}
@media (max-width: 1110px) {
  .footer .footer__contacts-wrp .footer__contacts-list--left {
    height: 70px;
  }
}
.footer .footer__contacts-wrp .footer__contacts-list--right {
  width: 570px;
}
@media (max-width: 1110px) {
  .footer .footer__contacts-wrp .footer__contacts-list--right {
    display: flex;
    align-items: flex-end;
  }
}
.footer .footer__author-desc {
  font-family: "Open Sans", sans-serif;
  color: #989898;
  border-top: 1px solid #565656;
  margin: 100px 0 0;
  padding: 30px 0 0 0;
  height: 48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .footer .footer__author-desc {
    margin: 75px 0 0;
  }
}
@media (max-width: 768px) {
  .footer .footer__author-desc {
    margin: 62px 0 0;
  }
}

.btn {
  background: #D1A954;
  text-transform: uppercase;
  width: 160px;
  min-height: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  color: inherit;
  border: none;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1110px) {
  .btn {
    width: 175px;
    min-height: 50px;
  }
}
@media (max-width: 768px) {
  .btn {
    width: 160px;
    min-height: 50px;
  }
}
@media (max-width: 576px) {
  .btn {
    width: 100%;
    min-height: 62px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
}

.popup {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup--hidden {
  display: none;
}
.popup .popup__wrp {
  background-color: #333333;
}
@media (max-width: 1110px) {
  .popup .popup__wrp {
    max-width: 60%;
    min-height: 55%;
  }
}
@media (max-width: 576px) {
  .popup .popup__wrp {
    max-width: 90%;
  }
}
.popup .popup__wrp .popup__close-btn {
  background: transparent;
  border: none;
  box-sizing: border-box;
  display: block;
  margin: 14px 14px 50px auto;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__close-btn {
    padding: 2.6% 3% 8% 89%;
    margin: 0;
  }
}
.popup .popup__wrp .popup__form {
  display: grid;
  grid-template-columns: 180px 180px 310px;
  grid-template-rows: 39px 39px 92px;
  gap: 30px;
  padding: 0 63px 80px 72px;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form {
    grid-template-columns: initial;
    grid-template-rows: 35px 35px 100px 50px auto;
    padding: 0 8% 4.5% 10.4%;
  }
}
@media (max-width: 1110px) and (max-width: 576px) {
  .popup .popup__wrp .popup__form {
    padding: 0 10% 8%;
    grid-template-columns: 100%;
    grid-template-rows: 35px 35px 35px 35px 100px 50px auto;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .popup .popup__wrp .popup__form .popup__label {
    display: contents;
  }
}
.popup .popup__wrp .popup__form .popup__label--textarea {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form .popup__label--textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media (max-width: 576px) {
  .popup .popup__wrp .popup__form .popup__label--textarea {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
.popup .popup__wrp .popup__form .popup__input-field {
  padding: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form .popup__input-field--tel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form .popup__input-field--company {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media (max-width: 576px) {
  .popup .popup__wrp .popup__form .popup__input-field--company {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
.popup .popup__wrp .popup__form .popup__input-field--textarea {
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form .popup__input-field--textarea {
    display: initial;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media (max-width: 576px) {
  .popup .popup__wrp .popup__form .popup__input-field--textarea {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
.popup .popup__wrp .popup__form input::placeholder,
.popup .popup__wrp .popup__form textarea::placeholder {
  color: #989898;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0 10px 15px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form input::placeholder,
  .popup .popup__wrp .popup__form textarea::placeholder {
    padding: 10px 0 10px 15px;
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
  }
}
.popup .popup__wrp .popup__form input, .popup .popup__wrp .popup__form textarea {
  background: #444444;
  border: 1px solid #616161;
}
.popup .popup__wrp .popup__form .popup__hint {
  color: #989898;
  grid-column: span 2;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form .popup__hint {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .popup .popup__wrp .popup__form .popup__hint {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }
}
.popup .popup__wrp .popup__form .popup__button {
  display: block;
  width: 190px;
  height: 51px;
  margin-left: auto;
}
@media (max-width: 1110px) {
  .popup .popup__wrp .popup__form .popup__button {
    margin: 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
  }
}
@media (max-width: 576px) {
  .popup .popup__wrp .popup__form .popup__button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.staging {
  padding: 119px 0 0;
}
@media (max-width: 1110px) {
  .staging {
    padding: 80px 0 0;
  }
}
@media (max-width: 768px) {
  .staging {
    padding: 90px 0 0;
  }
}
@media (max-width: 576px) {
  .staging {
    padding: 30px 0 0;
  }
}
.staging .staging__list {
  margin: 113px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1110px) {
  .staging .staging__list {
    margin: 107px 0 0;
  }
}
@media (max-width: 768px) {
  .staging .staging__list {
    margin: 74px 0 0;
    height: 475px;
  }
}
@media (max-width: 576px) {
  .staging .staging__list {
    width: 100%;
    margin: 30px 0 0;
  }
}
.staging .staging__list .staging__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 33%;
  min-height: 478px;
  padding: 34px 0 0 33px;
  box-sizing: border-box;
}
@media (max-width: 1110px) {
  .staging .staging__list .staging__item {
    width: 50%;
    min-height: 476px;
  }
}
@media (max-width: 576px) {
  .staging .staging__list .staging__item {
    width: 90%;
    padding: 40px 0 0 40px;
  }
}
.staging .staging__list .staging__item--building {
  background-image: url("../../dist/img/staging1.webp");
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .staging .staging__list .staging__item--building {
    background-image: url("../../dist/img/staging1@2x.webp");
  }
}
.staging .staging__list .staging__item--border {
  background-image: url("../../dist/img/staging2.webp");
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .staging .staging__list .staging__item--border {
    background-image: url("../../dist/img/staging2@2x.webp");
  }
}
@media (max-width: 576px) {
  .staging .staging__list .staging__item--border {
    display: none;
  }
}
.staging .staging__list .staging__item--hall {
  background-image: url("../../dist/img/staging3.webp");
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .staging .staging__list .staging__item--hall {
    background-image: url("../../dist/img/staging3@2x.webp");
  }
}
@media (max-width: 1110px) {
  .staging .staging__list .staging__item--hall {
    display: none;
  }
}
.staging .staging__list .staging__item .staging__item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .staging .staging__list .staging__item .staging__item-title br {
    display: none;
  }
}
@media (max-width: 1110px) {
  .staging .staging__list .staging__item .staging__item-title--2 {
    display: none;
  }
}

.stars {
  width: 75%;
  margin: 209px auto 0;
  background-image: url("../../dist/img/stars.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .stars {
    background-image: url("../../dist/img/stars@2x.webp");
  }
}
@media (max-width: 1110px) {
  .stars {
    width: 100%;
    margin: 150px auto 0;
  }
}
@media (max-width: 768px) {
  .stars {
    margin: 120px auto 0;
  }
}
@media (max-width: 576px) {
  .stars {
    margin: 40px auto 0;
  }
}
.stars .stars__wrp {
  padding: 15% 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .stars .stars__wrp {
    padding: 0;
  }
}
.stars .stars__wrp .stars__year-list {
  flex-direction: column;
  color: #D1A954;
  letter-spacing: 0.1em;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .stars .stars__wrp .stars__year-list {
    display: none;
  }
}
.stars .stars__wrp .stars__year-list li:nth-of-type(n+1) {
  margin: 0 0 45px;
}
.stars .stars__wrp .stars__year-list li:nth-of-type(3n) {
  margin: 0px;
}
.stars .stars__wrp .stars__content-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 130px;
}
@media (max-width: 1110px) {
  .stars .stars__wrp .stars__content-wrp {
    width: 70%;
    margin: 0px;
    padding-left: 75px;
  }
}
@media (max-width: 768px) {
  .stars .stars__wrp .stars__content-wrp {
    padding-left: 30px;
  }
}
@media (max-width: 576px) {
  .stars .stars__wrp .stars__content-wrp {
    width: 80%;
    margin: 0;
    padding: 8% 0;
  }
}
.stars .stars__wrp .stars__content-wrp .stars__img {
  padding: 7px 0 0 0;
  width: 445px;
  margin: 0 0 60px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .stars .stars__wrp .stars__content-wrp .stars__img {
    width: 307px;
    margin: 0 0 40px;
  }
  .stars .stars__wrp .stars__content-wrp .stars__img img:nth-of-type(n+1) {
    width: 35px;
    height: 39px;
  }
}
@media (max-width: 768px) {
  .stars .stars__wrp .stars__content-wrp .stars__img {
    margin: 0 0 60px;
    width: 90%;
  }
  .stars .stars__wrp .stars__content-wrp .stars__img img:nth-of-type(n+1) {
    width: 30px;
    height: 38px;
  }
}
@media (max-width: 576px) {
  .stars .stars__wrp .stars__content-wrp .stars__img {
    display: none;
  }
}
.stars .stars__wrp .stars__content-wrp .stars__title {
  letter-spacing: 2px;
  height: 58%;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}
@media (max-width: 1110px) {
  .stars .stars__wrp .stars__content-wrp .stars__title {
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .stars .stars__wrp .stars__content-wrp .stars__title {
    font-size: 29px;
    line-height: 43px;
    font-weight: 700;
  }
}
@media (max-width: 576px) {
  .stars .stars__wrp .stars__content-wrp .stars__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
  }
}
.stars .stars__wrp .stars__content-wrp .stars__title .stars__title-line {
  display: block;
}

.digits__desc-orange {
  color: orange;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-light.woff2") format("woff2"), url("../fonts/opensans_condensed-light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-bold.woff2") format("woff2"), url("../fonts/opensans_condensed-bold.woff") format("woff");
  font-weight: 700;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #333333;
  color: #FFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.section-title-orange {
  color: #D1A954;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}