@use "variables";
@use "mixins";

body {
    font-family: variables.$font-family-condensed;
    background-color: variables.$dark-gray;
    color: #FFF;
    @include mixins.font-mixin();
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    resize: none;
}

.section-title {
    text-transform: uppercase;
    @include mixins.font-mixin(48px, 65px, 300);
    letter-spacing: 0.1em;
};

.section-title-orange {
    color: variables.$gold;
};

.container {
    width: 1110px;
    margin: 0 auto;
};
