@use "variables";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin font-mixin($font-size-param: 16px,$line-height-param: 21px, $font-weight-param: 700) {
    font-size: $font-size-param;
    line-height: $line-height-param;
    font-weight: $font-weight-param;
  }

@mixin desktop-wide {
    @media (max-width: variables.$desktop-wide) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: variables.$tablet) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: variables.$mobile) {
        @content;
    }
}

@mixin retina {
    @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        @content;
    }
}
