$dark-gray: #333333;
$gold: #D1A954;
$white: #FFFFFF;
$gray: #989898;
$gray-background: #808080;
$gray-popup: #616161;
$gray-footer: #565656;
$gray-popup-input: #444444;

$font-family-condensed: "Open Sans Condensed", sans-serif;
$font-family: "Open Sans", sans-serif;
