@use "../variables";
@use "../mixins";

.btn {
    background: variables.$gold;
    text-transform: uppercase;
    width: 160px;
    min-height: 50px;
    font-family: variables.$font-family-condensed;
    color: inherit;
    border: none;

    @include mixins.font-mixin(18px, 25px);
    @include mixins.flex-center();

    @include mixins.desktop-wide {
        width: 175px;
        min-height: 50px;
    }

    @include mixins.tablet {
        width: 160px;
        min-height: 50px;
    }

    @include mixins.mobile {
        width: 100%;
        min-height: 62px;
        @include mixins.font-mixin(30px, 40px);
    }
}
