@use "../mixins.scss";
@use "../variables.scss";

.footer {
    .footer__contacts-item-desc {
        font-family: variables.$font-family-condensed;
        text-transform: uppercase;
        font-style: normal;

        @include mixins.font-mixin(21px, 28px);
    }

    .footer__hr {
        color: variables.$gray-footer;
    }

    .footer__author-desc {
        font-family: variables.$font-family;
        color: variables.$gray;
        
        @include mixins.font-mixin(12px, 18px, 400);
    }
}
