@use "../mixins";
@use "../variables";

.header {
    background-image: url("../../dist/img/header-background.webp");
    background-color: variables.$gray-background;

    .header__nav-link {
      text-transform: uppercase;
      @include mixins.font-mixin(17px, 25px);
    }

    .header__tel {
      @include mixins.font-mixin($line-height-param: 22px);
    }

    .header__title {
      text-transform: uppercase;
      letter-spacing: 0.1em;
     
      @include mixins.font-mixin(64px, 87px);
    }

    .header__desc {
      font-family: variables.$font-family;
      @include mixins.font-mixin(14px, 21px, 400);
    }
    
    .header__btn {
      text-transform: uppercase;
      color: inherit;
      padding: 0;
      border: none;
      background: transparent;

      @include mixins.font-mixin(18px, 24px);
  }
  
}
