@use "../mixins.scss";
@use "../variables.scss";


.partners {
    padding: 150px 0 0;

    @include mixins.desktop-wide {
        padding: 200px 0 0;
    }

    @include mixins.tablet {
        padding: 50px 0 0;
    }

    @include mixins.mobile {
        padding: 30px 0 0;
    }

    .partners__list {
        
        margin: 60px 0 0;
        
        @include mixins.flex-space-between();
        
        @include mixins.desktop-wide {
            display: grid;
            grid-template-columns: 35% 35%;
            justify-content: space-evenly;
            margin-left: auto;
            margin-right: auto;
        }

        @include mixins.mobile {

            flex-direction: column;

            @include mixins.flex-space-between();
    
        }
        
        .partners__item {
            width: 19.3%;

            @include mixins.desktop-wide {
                width: 100%;
            }
            
            @include mixins.mobile {
                margin: 0 0 5%;
                
                
            }
            
            
            .partners__item-icon {
                width: 100%;
                
                @include mixins.desktop-wide {
                    height: 70%;
                }
            }
        }
        
        .partners__item-4 {
            
            @include mixins.mobile {
                margin: 0;
            }
        }
    }

    .partners__btn-wrp {
        @include mixins.flex-center();
    }

    .partners__btn {
        margin: 113px 0 0;
        background: variables.$gold;
        text-transform: uppercase;
        width: 359px;
        min-height: 72px;
        font-family: variables.$font-family-condensed;
        color: inherit;
        border: none;
        letter-spacing: 2px;

        @include mixins.font-mixin(18px, 25px);
        @include mixins.flex-center();

        @include mixins.desktop-wide {
            margin: 15% 0 0;
        }

        @include mixins.tablet {
            width: 326px;
            min-height: 45px;
        }
        @include mixins.mobile {
            margin: 87px 0 0 0;
        }
    }
}
