@use "../mixins.scss";


.partners {
    padding: 150px 0 0;


    .partners__list {
        margin: 60px 0 0;

        @include mixins.flex-space-between();

    }

    .partners__btn {
        margin: 113px auto 0 auto;
    }
}
