@use "../mixins.scss";


.partners {
    padding: 150px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .section-title {
        text-align: center;
    }

    .partners__wrp {
        padding: 60px 0 0;

        @include mixins.flex-center();

        .partners__list {
            display: flex;

            .partners__item:nth-of-type(n+2) {
                margin-left: 78px;
              }
        }
    }

    .partners__btn-wrp {
        padding: 113px 0 0;

        @include mixins.flex-center();
    }
}
