@use "../mixins";

.staging {

    padding: 119px 0 0;

    @include mixins.desktop-wide {
        padding: 80px 0 0;
    }
    @include mixins.tablet {
        padding: 90px 0 0;
    }
    @include mixins.mobile {
        padding: 40px 0 0;
    }

    .staging__list {
        
        margin: 113px 0 0;
        
        @include mixins.flex-center();
        @include mixins.desktop-wide {
            margin: 107px 0 0;
        }
        @include mixins.tablet {
            margin: 74px 0 0;
            height: 475px;
        }
        @include mixins.mobile {
            width: 510px;
        }
        
        
        .staging__item {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 33%;
            min-height: 478px;
            padding: 34px 0 0 33px;
            box-sizing: border-box;

            @include mixins.desktop-wide {
                width: 50%;
                min-height: 476px;
            }
            @include mixins.mobile {
                width: 90%;
                padding: 40px 0 0 40px;
            }
         
            &--building {
                background-image: url("../../dist/img/staging1.webp");
            }
            
            &--border {
                background-image: url("../../dist/img/staging2.webp");
                @include mixins.mobile {
                    display: none;
                }
            }
            
            &--hall {
                background-image: url("../../dist/img/staging3.webp");
                
                @include mixins.desktop-wide {
                    display: none;
                }
            }
            
            
            .staging__item-title {
                text-transform: uppercase;
                
                @include mixins.font-mixin(24px, 32px);
                @include mixins.mobile {
                    br {
                        display: none;
                    }
                }


                &--2 {
                    @include mixins.desktop-wide {
                        display: none;                    
                    }
                
                }
            }
        }
        
    }
}
