@use "../mixins";

.staging {
    .staging__item-title {
        @include mixins.font-mixin(24px, 32px);
        text-transform: uppercase;
    }

    .staging__item-title {

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &--building {
            background-image: url("../../dist/img/staging1.webp");
        }

        &--border {
            background-image: url("../../dist/img/staging2.webp");
        }

        &--hall {
            background-image: url("../../dist/img/staging3.webp");
        }
    }
}
