@use "variables";
@use "mixins";

.stars {

    background-image: url("../../dist/img/stars.webp");

    .stars__year-item {
        @include mixins.font-mixin(72px, 98px);
        color: variables.$gold;
    }

    .stars__title {
        font-family: variables.$font-family;
        @include mixins.font-mixin(36px, 54px);
    }
}