@use "variables";
@use "mixins";

.stars {
    padding: 209px 25px 0 25px;
    
    .stars__wrp {
        background-image: url("../../dist/img/stars.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 126px 190px;

        @include mixins.flex-space-between();

        .stars__year-list {
            flex-direction: column;
            color: variables.$gold;
        
            @include mixins.flex-space-between();
            @include mixins.font-mixin(72px, 72px);
        }

        .stars__img {
            padding: 7px 0 0 0;
            margin: 0 0 31px;
           
            @include mixins.flex-space-between();
        }

        .stars__title {
            letter-spacing: 2px;    
        
            @include mixins.font-mixin(36px, 54px);
        }

        .stars__title-line {
            display: block;
        }
    }
}
